@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Trade+Winds&display=swap");
:root {
  --color-dark1: #15161b;
  --color-ligth1: #e3e3db;
  --color-yellow: #ffbb00;
  --color-dark-yellow: #a37903ff;

  --font-poppins: "Poppins", sans-serif;

  --font-size-14: 0.875rem;
  --font-size-13: 0.8125rem;
  --font-size-16: 1rem;
  --font-size-18: 1.125rem;
  --font-size-20: 1.25rem;
  --font-size-48: 3rem;
  --font-size-72: 4.5rem;
  --font-size-160: 10rem;

  --font-weight-500: 500;

  --padding-24: 1.5em;
  --padding-32: 2em;
  --padding-16: 1em;
  --padding-48: 3em;

  --margin-8: 0.5em;
  --margin-16: 1em;

  --gap-16: 1em;
  --gap-50: 3.125rem;

  --letter-spacing--1-2: -0.075rem;
  --line-height-085: 0.85;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-poppins), sans-serif;
  background-color: var(--color-ligth1);
  overflow-x: hidden;
}

.header > p > span {
  font-size: var(--font-size-20);
}

p {
  position: relative;
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-500);
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
}

.hero {
  position: relative;
  width: 100vw;
  height: 100svh;
  background-color: var(--color-dark1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  clip-path: polygon(0 45%, 0 45%, 0 55%, 0% 55%);
  will-change: clip-path;
}

.progress-bar {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 25vw;
  padding: var(--padding-32);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-yellow);
}

.video-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100svh;
  background-color: var(--color-dark1);
  clip-path: polygon(20% 20%, 80% 20%, 80% 80%, 20% 80%);
  will-change: transform, clip-path;
  overflow: hidden;
}

.video-no-mask {
  filter: brightness(0.4);
}

.video-mask {
  filter: grayscale(1);
  -webkit-mask-image: none;
  mask-image: none;
  -webkit-clip-path: circle(40px at 50% 50%);
  clip-path: circle(40px at 50% 50%);
  will-change: clip-path, transform;
  z-index: 10000;
}

.video-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  opacity: 0.85;
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header h1 {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 7vw;
  line-height: var(--line-height-085);
  letter-spacing: var(--letter-spacing--1-2);
  color: var(--color-ligth1);
}

.header p {
  margin-top: var(--margin-16);
  color: var(--color-yellow);
}

.logo {
  position: absolute;
  bottom: 0;
  padding: var(--padding-24);
  left: 50%;
  display: flex;
  transform: translateX(-50%);
  will-change: transform;
  color: var(--color-ligth1);
  mix-blend-mode: difference;
  z-index: 2;
}

.char-anim-out h1 {
  position: relative;
  will-change: transform;
}

.header h1,
.header p,
.char.anim-out {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.header span {
  position: relative;
  display: block;
  transform: translateY(100%);
  will-change: transform;
  opacity: 0;
}

.animated-cards {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: none;
}

.card-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: transform;
  gap: var(--gap-50);
}

.card {
  height: 85svh;
  display: flex;
  align-items: center;
  color: var(--color-dark1);
}

.card:nth-child(2),
.card:nth-child(4) {
  background-color: var(--color-dark1);
  color: var(--color-ligth1);
}
.card:nth-child(1),
.card:nth-child(3) {
  background-color: var(--color-ligth1);
}

.card-container h1 {
  font-size: var(--font-size-160);
  font-weight: var(--font-weight-500);
  line-height: var(--line-height-085);
  letter-spacing: var(--letter-spacing--1-2);
}

.char {
  positionr: relative;
  display: inline-block;
  will-change: transform;
}

.service-card {
  width: 300px;
  height: 350px;
  background: white;
  padding: 0.4em;
  border-radius: 6px;
}
.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-image {
  background-color: rgb(236, 236, 236);
  width: 100%;
  height: 200px;
  border-radius: 6px 6px 0 0;
}

.card-image:hover {
  transform: scale(0.98);
}

.heading {
  font-weight: 600;
  color: rgb(88, 87, 87);
  padding: 7px;
}

.boton-container {
  display: none;
  height: 60svh;
  width: 100%;
  padding: var(--padding-32);
  justify-content: center;
  align-items: center;
  background-color: var(--color-yellow);
}

button {
  padding: var(--padding-16) var(--padding-48);
  border: none;
  background: var(--color-dark1);
  color: var(--color-ligth1);
  border-radius: 6px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.6);
  font-size: var(--font-size-20);
  cursor: pointer;
  font-family: var(--font-poppins);
}

footer {
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-ligth1);
  color: var(--color-dark1);
  padding: var(--padding-16);
  display: none;
}

footer > label:first-child {
  font-size: var(--font-size-20);
  color: var(--color-dark1);
  margin-bottom: var(--margin-8);
}

footer > label:first-child:hover {
  transform: scale(1.2);
  color: var(--color-dark-yellow);
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 1000px) {
  .card-container h1 {
    font-size: var(--fonts-size-48);
    letter-spacing: 0;
  }
}

@media (max-width: 900px) {
  p {
    font-size: var(--font-size-13);
  }

  .progress-bar {
    justify-content: flex-end;
  }
  .progress-bar p:nth-child(1) {
    display: none;
  }

  .header h1 {
    font-size: 10vw;
  }
}

@media (max-width: 500px) {
  p {
    font-size: var(--font-size-13);
  }

  .header > p > span {
    font-size: var(--font-size-16);
  }
  .logo > div > h1 {
    font-size: var(--font-size-16);
  }
}
