:root {
  --color-dark1: #15161b;
  --color-ligth1: #e3e3db;
  --color-ligth2: #e0f7ffff;
  --color-ligth3: #b2c4eaff;

  --font-family: sans-serif;

  --font-size-14: 0.875rem;
  --font-size-13: 0.8125rem;
  --font-size-16: 1rem;
  --font-size-18: 1.125rem;
  --font-size-20: 1.25rem;
  --font-size-24: 1.5rem;
  --font-size-32: 2rem;
  --font-size-48: 3rem;
  --font-size-40: 2.5rem;
  --font-size-72: 4.5rem;
  --font-size-100: 6.25rem;
  --font-size-120: 7.5rem;
  --font-size-140: 8.75rem;
  --font-size-160: 10rem;

  --font-weight-medium: 500;
  --font-weight-bold: bold;
  --font-weight-extra-bold: 800;

  --padding-14: 0.875em;
  --padding-24: 1.5em;
  --padding-20: 1.25em;
  --padding-32: 2em;
  --padding-16: 1em;
  --padding-48: 3em;

  --margin-8: 0.5em;
  --margin-16: 1em;
  --margin-24: 1.5em;
  --margin-32: 2em;

  --gap-16: 1em;
  --gap-24: 1.5rem;
  --gap-50: 3.125rem;

  --letter-spacing--1-2: -0.075rem;
  --line-height-085: 0.85;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-wrap: pretty;
}

body {
  font-family: var(--font-family);
  background-color: var(--color-ligth1);
  overflow-x: hidden;
}

.header > p > span {
  font-size: var(--font-size-32);
  font-weight: var(--font-weight-bold);
  margin-top: var(--margin-16);
  color: var(--color-ligth2);
}

p {
  position: relative;
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-500);
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
}

.hero {
  position: relative;
  width: 100vw;
  height: 100dvh;
  background-color: var(--color-dark1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  clip-path: polygon(0 45%, 0 45%, 0 55%, 0% 55%);
  will-change: clip-path;
}

.progress-bar {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 25vw;
  padding: var(--padding-32);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-ligth3);
}

.hero-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100dvh;
  background-color: var(--color-dark1);
  clip-path: polygon(20% 20%, 80% 20%, 80% 80%, 20% 80%);
  will-change: transform, clip-path;
  overflow: hidden;
}

.hero-container div {
  position: absolute;
  height: 100%;
  width: 100%;
}

.img-mask {
  filter: grayscale(1);
  -webkit-mask-image: none;
  mask-image: none;
  -webkit-clip-path: circle(40px at 50% 50%);
  clip-path: circle(40px at 50% 50%);
  will-change: clip-path, transform;
  z-index: 10;
}

.hero-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  opacity: 0.85;
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header h1 {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: var(--font-size-100);
  line-height: var(--line-height-085);
  letter-spacing: var(--letter-spacing--1-2);
  color: var(--color-ligth1);
}

.logo {
  position: absolute;
  bottom: 0;
  padding: var(--padding-24);
  left: 50%;
  display: flex;
  transform: translateX(-50%);
  will-change: transform;
  color: var(--color-ligth1);
  z-index: 20;
}

.char-anim-out h2 {
  position: relative;
  will-change: transform;
}

.header h1,
.header p,
.char.anim-out {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.header span {
  position: relative;
  display: block;
  transform: translateY(100%);
  will-change: transform;
  opacity: 0;
}

.animated-cards {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: none;
}

.card-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: transform;
  gap: var(--gap-50);
}

.card {
  height: 85dvh;
  display: flex;
  align-items: center;
  color: var(--color-dark1);
}

.card:nth-child(2),
.card:nth-child(4) {
  background-color: var(--color-dark1);
  color: var(--color-ligth1);
}
.card:nth-child(1),
.card:nth-child(3) {
  background-color: var(--color-ligth1);
}

.card-container h2 {
  font-size: var(--font-size-120);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-085);
  letter-spacing: var(--letter-spacing--1-2);
}

.service-card {
  width: 300px;
  height: 350px;
  background: white;
  padding: 0.4em;
  border-radius: 6px;
}
.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-image {
  background-color: rgb(236, 236, 236);
  width: 100%;
  height: 200px;
  border-radius: 6px 6px 0 0;
}

.card-image:hover {
  transform: scale(0.98);
}

.heading {
  font-weight: var(--font-weight-medium);
  padding: var(--padding-16);
  color: var(--color-dark1);
}

.boton-container {
  display: none;
  height: 60dvh;
  width: 100%;
  padding: var(--padding-32);
  justify-content: center;
  align-items: center;
  background-color: var(--color-ligth3);
}

button {
  padding: var(--padding-16) var(--padding-48);
  border: none;
  background: var(--color-dark1);
  color: var(--color-ligth1);
  border-radius: 6px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.6);
  font-size: var(--font-size-20);
  cursor: pointer;
  font-family: var(--font-family);
}

footer {
  width: 100%;
  height: 90px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: var(--padding-16);
  display: none;
  font-size: var(--font-size-13);
  text-align: center;
  overflow: hidden;
  background: linear-gradient(
    180deg,
    var(--color-ligth3),
    #1e2942ee,
    var(--color-dark1)
  );
  backdrop-filter: blur(30px);
  color: var(--color-ligth1);
  font-weight: var(--font-weight-medium);
}

footer > label:last-child:hover {
  transform: scale(1.03s);
  color: var(--color-dark-yellow);
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 1000px) {
  .card-container h2 {
    font-size: var(--font-size-120);
    letter-spacing: 0;
  }
}

@media (max-width: 768px) {
  .header h1 {
    font-size: var(--font-size-72);
  }
  .logo > div > h2 {
    font-size: var(--font-size-16);
  }

  .header p > span {
    font-size: var(--font-size-24);
  }

  .card-container card-container {
    font-size: var(--font-size-72);
  }

  .card-container h2 {
    font-size: var(--font-size-72);
  }

  button {
    font-size: var(--font-size-18);
    padding: var(--padding-16) var(--padding-32);
  }
}

@media (max-width: 320px) {
  .header h1 {
    font-size: var(--font-size-40);
  }
  .header p > span {
    font-size: var(--font-size-20);
  }
  .logo > div > h2 {
    font-size: var(--font-size-14);
  }

  .card {
    height: 85dvh;
    display: flex;
    align-items: center;
    color: var(--color-dark1);
  }

  .card-container {
    font-size: var(--font-size-20);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: start;
    padding: var(--padding-48) 0;
  }

  .card-container h2 {
    font-size: var(--font-size-24);
  }

  .heading {
    font-weight: var(--font-weight-medium);
    padding: var(--padding-16);
    color: var(--color-dark1);
    font-size: var(--font-size-16);
  }

  .service-card {
    width: 200px;
    height: 350px;
    background: white;
    padding: 0.4em;
    border-radius: 6px;
  }

  button {
    font-size: var(--font-size-12);
    padding: var(--padding-14) var(--padding-20);
  }
}
