@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Trade+Winds&display=swap");
:root {
  --color-dark1: #15161b;
  --color-ligth1: #e3e3db;
  --color-yellow: #ffbb00;

  --font-poppins: "Poppins", sans-serif;
  --font-size-14: 0.875rem;
  --font-size-13: 0.8125rem;
  --font-size-20: 1.25rem;
  --font-weight-500: 500;

  --padding-24: 1.5em;
  --padding-32: 2em;

  --margin-16: 1em;

  --gap-16: 1em;

  --letter-spacing--1-2: -0.075rem;
  --line-height-085: 0.85;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-poppins), sans-serif;
  background-color: var(--color-ligth1);
}

.header > p > span {
  font-size: var(--font-size-20);
}

p {
  position: relative;
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-500);
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
}

.hero {
  position: relative;
  width: 100vw;
  height: 100svh;
  background-color: var(--color-dark1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  clip-path: polygon(0 45%, 0 45%, 0 55%, 0% 55%);
  will-change: clip-path;
}

.progress-bar {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 25vw;
  padding: var(--padding-32);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-yellow);
}

.video-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100svh;
  background-color: var(--color-dark1);
  cip-path: polygon(20% 20%, 80% 20%, 80% 80%, 20% 80%);
  will-change: transform, clip-path;
  overflow: hidden;
}

.video-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  opacity: 0.85;
  filter: brightness(0.4);
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header h1 {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 7vw;
  line-height: var(--line-height-085);
  letter-spacing: var(--letter-spacing--1-2);
  color: var(--color-ligth1);
}

.header p {
  margin-top: var(--margin-16);
  color: var(--color-yellow);
}

.logo {
  position: absolute;
  bottom: 0;
  padding: var(--padding-24);
  left: 50%;
  display: flex;
  transform: translateX(-50%);
  will-change: transform;
  color: var(--color-ligth1);
  mix-blend-mode: difference;
  z-index: 2;
}

.char-anim-out h1 {
  position: relative;
  will-change: transform;
}

.header h1,
.header p,
.char-anim-out {
  clpip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.header span {
  position: relative;
  display: block;
  transform: translateY(100%);
  will-change: transform;
  opacity: 0;
}

@media (max-width: 900px) {
  p {
    font-size: var(--font-size-13);
  }

  .progress-bar {
    justify-content: flex-end;
  }
  .progress-bar p:nth-child(1) {
    display: none;
  }

  .header h1 {
    font-size: 10vw;
  }
}
